<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
      
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <appSettings>
      <add key="clientListPath" value="clients.txt"/>
      <add key="tempDirIn" value="C:\test\in\"/>
      <add key="tempDirOut" value="C:\test\out\"/>
      <add key="ftpSubDir" value=""/>
      <add key="ftphost" value="ftp://10.10.10.10/"/>
      <add key="ftpuser" value="admin"/>
      <add key="ftppass" value="admin12345"/>
      <add key="arcmailPath" value="C:\ARCMAIL\"/>
      <add key="logPath" value="C:\test\logs\" />
      <add key="archivePath" value="C:\test\archive\"/>
      <add key="filePatterns" value="OBR_IBI_####_*|OBI_*_####|OBI_*_####_*|####_OSV_*|OAR_####_*"/>
    </appSettings>
</configuration>
